# Dependencies
node_modules/
package-lock.json

# Database
*.db
*.sqlite
*.sqlite3

# Build output
build/
dist/
.cache/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/

# Production
/frontend/build
